/* Flex styles -------------------------------------------------*/
header {
  display: flex;
  align-items: center;
}

@media (min-width: 700px) {
 .leading {
    display: flex;
    align-items: center;
  }
}


/* Grid styles -------------------------------------------------*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}


/* Generic styles ----------------------------------------------*/
body {
  font-family: 'Quicksand', sans-serif;
}

header {
  padding: 10px;
  font-size: 2em;
  color: white;
  background-color: #333;
}

@media (min-width: 700px) {
  .leading-bigtext {
    font-size: 140px;
  }
}


.cards {
  max-width: 960px;
  margin: 0 auto 30px;
}


.cardbod {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 50px;
  font: 12px Arial, Helvetica;
  text-shadow: 0 1px rgba(255,255,255,.8);        
  background: #DBE5F1;      
  border: 1px solid #ddd;
  border-radius: 25px;
  /*color: #333;*/
  max-width: 100%;
  margin: 0 auto 30px;   

}

@media (min-width: 500px) and (max-width: 550px) {
  .cardbod {
    max-width: 400px;
  }
}

#main-table #most-popular {
  align-content: center;
  z-index: 2;
  top: -13px;
  border-width: 3px;
  padding: 35px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
  box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
}

#main-table #most-populars:hover {
  z-index: 2;
  top: -13px;
  border-width: 3px;
  padding: 30px 20px;
  border-radius: 6px;
  -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
  box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
}

#main-table .signup {
  position: relative;
  padding: 8px 20px;
  margin-left: 70px;
  margin-top: 10px;  
  color: #fff;
  font: bold 14px Arial, Helvetica;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;       
  background-color: #8C0E0E;
  background-image: -moz-linear-gradient(#8C0E0E);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8C0E0E));    
  background-image: -webkit-linear-gradient(#8C0E0E);
  background-image: -o-linear-gradient(#8C0E0E);
  background-image: -ms-linear-gradient(#8C0E0E);
  background-image: #8C0E0E;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 5px;     
  text-shadow: 0 1px 0 rgba(0,0,0,.3);        
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

#main-table .signup:hover {
  background-color: #8C0E0E;
  background-image: -moz-linear-gradient(#8C0E0E);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8C0E0E));      
  background-image: -webkit-linear-gradient(#8C0E0E);
  background-image: -o-linear-gradient(#8C0E0E);
  background-image: -ms-linear-gradient(#8C0E0E);
  background-image: linear-gradient(#8C0E0E); 
}

#main-table h3 {
  font-size: 20px;
  align-content: center;
  font-weight: normal;
  padding: 20px;
  margin-left: 50px;
  margin: -20px -20px 50px -20px;
  background-color: #eee;
  background-image: -moz-linear-gradient(#fff,#eee);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
  background-image: -webkit-linear-gradient(#fff, #eee);
  background-image: -o-linear-gradient(#fff, #eee);
  background-image: -ms-linear-gradient(#fff, #eee);
  background-image: linear-gradient(#fff, #eee);
}

#main-table #most-popular h3 {
  background-color: #ddd;
  background-image: -moz-linear-gradient(#eee,#ddd);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));    
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: -o-linear-gradient(#eee, #ddd);
  background-image: -ms-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  margin-top: -30px;
  padding-top: 30px;
  padding-left: 100px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;     
}

.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}

.responsive {
  max-width: 100%; /* This is for the images to keep shape even when screen size decreaases */
  height: auto;
}