section {
    width: 100%;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  section p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: medium;
    background: #fff;
    padding: 10px;
    /* box-shadow: 0 5px 25px rgba(0, 0, 0, .5); */
  }