<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" type="image/x-icon" href="img/avatar.png">

    <title>Project Work</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">
    

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="index.html"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="projects.html">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tutorials.html">Tutorials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/laptop.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Projects</h1>
              <span class="subheading">Skills and Work I have done</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <span><b>Website Design</b></span> 
            <br><br>
      <div class="row">
        <div class="col">
            <img src="img/home.png" style="height:200px; width:350px;">
            <img src="img/home-mid.png" style="height:200px; width:350px;">
            <img src="img/home-bottom.png" style="height:200px; width:350px;">
          </div>
      </div>
    </div>

    <br><br>

    <div class="container">
          <div class="row">
            <div class="col">
                <img src="img/tech.png" style="height:200px; width:350px;">
                <img src="img/tech-body.png" style="height:200px; width:350px;">
                <img src="img/tech-bottom.png" style="height:200px; width:350px;">
             </div>
          </div>
      </div>

        <br><br>

    <div class="container">
        <!-- <span><b>User Interface and Related Design</b></span>
        <br><br>
        <div class="row">
            <div class="col">
                <img src="img/screen-poster.jpg" style="height:200px; width:350px;" class="responsive">
                <img src="img/Final Business Card.jpg" style="height:200px; width:350px;">
                <img src="img/mobile-home.png" style="height:200px; width:350px;">
            </div>
        </div>
    </div>

    <br><br>

    <div class="container">
            <div class="row">
              <div class="col">
                  <img src="img/mobile1.png" style="height:200px; width:350px;">
                  <img src="img/mobile2.png" style="height:200px; width:350px;">
                  <img src="img/mobile3.png" style="height:200px; width:350px;">
            </div>
          </div>
      </div> -->

    <hr>

    <div id="main-table" class="cardbod">
            <div class="plan" id="most-populars">
              <img src="img/screen-poster.jpg" style="height:200px; width:350px;" class="responsive">
            </div>
            <div class="plan" id="most-populars">
               <img src="img/screen-poster.jpg" style="height:200px; width:350px;" class="responsive">
            </div>
            <div class="plan" id="most-populars">
               <h3><b>Mantis</b></h3>
              <img src="img/screen-poster.jpg" style="height:200px; width:350px;" class="responsive">
            </div>
    </div>

        <br><br>

    <div id="main-table" class="cardbod">
            <div class="plan" id="most-populars">
              <img src="img/screen-poster.jpg" style="height:200px; width:350px;" class="responsive">
            </div>
            <div class="plan" id="most-populars">
               <img src="img/screen-poster.jpg" style="height:200px; width:350px;" class="responsive">
            </div>
            <div class="plan" id="most-populars">
               <h3><b>Mantis</b></h3>
              <img src="img/screen-poster.jpg" style="height:200px; width:350px;" class="responsive">
            </div>
    </div>

        <!-- <div id="main-table" class="cardbod">
            <div class="plan" id="most-populars" th:if="${menuInfo.vs.lobPolicyAdministration == true}">
               <h3><b>Policy Admin</b></h3>
              <p class="mainText">Guides under this category explain all the necessary information regarding policy related activities.</p>
              <a class="signup" th:href="@{/__${tenantName}__/helpGuidePolicyAdmin.thyme?mc=help&ms=hg-guide&mm=helpPolicyAdmin}">Read More</a>
            </div>
            <div class="plan" id="most-populars" th:if="${menuInfo.vs.lobClaims == true}">
               <h3><b>Claims</b></h3>
              <p class="mainText">Guides under this category explain all the necessary information regarding claim related activities.</p>
              <a class="signup" th:href="@{/__${tenantName}__/helpGuideClaimAdmin.thyme?mc=help&ms=hg-guide&mm=helpClaimAdmin}">Read More</a>
            </div>
            <div class="plan" id="most-populars">
               <h3><b>Activities</b></h3>
              <p class="mainText">The Activities guide will explain all the necesarry information regarding activities in PROFIDA.</p>
              <a class="signup" th:href="@{/__${tenantName}__/helpGuideActivities.thyme?mc=help&ms=hg-guide&mm=helpActivities}">Read More</a>
            </div>
        </div>

        <br><br>

        <div id="main-table" class="cardbod">
             <div class="plan" id="most-populars" th:if="${menuInfo.vs.lobLifeAssurance == true or menuInfo.vs.lobFuneral == true}">
               <h3><b>Life Assurance & Funeral</b></h3>
              <p class="mainText">Guides under this category explain all the necessary information regarding life assurance & funeral activities.</p>
              <a class="signup" th:href="@{/__${tenantName}__/helpGuideClaimAdminLife.thyme#claim?mc=help&ms=hg-guide&mm=claimAdminL10}">Read More</a>
            </div>
             <div class="plan" id="most-populars" th:if="${menuInfo.vs.isReportAdministrator == true}">
               <h3><b>Report Administration</b></h3>
              <p class="mainText">Guides under this category explain all the necessary information regarding reports related activities.</p>
              <a class="signup" th:href="@{/__${tenantName}__/helpGuideCustomReports.thyme?mc=help&ms=hg-guide&mm=helpCustomReports}">Read More</a>
            </div>
             <div class="plan" id="most-populars" th:if="${menuInfo.vs.lobMedical == true}">
               <h3><b>Medical Assurance</b></h3>
              <p class="mainText">Guides under this category explain all the necessary information regarding medical related activities.</p>
              <a class="signup" th:href="@{/__${tenantName}__/helpGuideMedicalAid.thyme?mc=help&ms=hg-guide&mm=helpMedicalAid}">Read More</a>
            </div>
        </div>

        <br><br>

        <div id="main-table" class="cardbod">
            <div class="plan" id="most-populars">
               <h3><b>Remote Support</b></h3>
              <p class="mainText">This guide will explain how to install and utilize PROFIDA remote support.</p>
              <a class="signup" th:href="@{/__${tenantName}__/helpGuideRemoteSupport.thyme?mc=help&ms=hg-guide&mm=helpRemoteSupport}">Read More</a>
            </div>
            <div class="plan" id="most-populars" th:if="${menuInfo.vs.viewAndExecutePowerList == true}">
               <h3><b>Power List</b></h3>
              <p class="mainText">This guide will explain how to utilize PROFIDA power lists.</p>
              <a class="signup" th:href="@{/__${tenantName}__/helpGuidePowerList.thyme?mc=help&ms=hg-guide&mm=helpPowerList}">Read More</a>
            </div>
            <div class="plan" id="most-populars">
               <h3><b>Event Based Actions</b></h3>
              <p class="mainText">This guide will explain how to event based actions work.</p>
              <a class="signup" th:href="@{/__${tenantName}__/helpGuideEventBasedActions.thyme?mc=help&ms=hg-guide&mm=helpEvents}">Read More</a>
            </div>
        </div> -->
      </div>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://www.twitter.com/yolopalisson_">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/lpaliso1">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Luyolo Paliso</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.backtotop.js"></script>
    <script src="jquery/jquery.min.js"></script>
    <script src="js/dropper.js"></script>
    <script src="js/toggler.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>