@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
.mainText {
    font-family: 'Verdana';
    font-size: 15px;
    color: black; }
  
.bodyText {
    font-family: 'Helvetica';
    font-size: 18px;
    color: black; }

.bodyText2 {
    font-family: 'Helvetica';
    font-size: 18px;
    color: black; }
  
.bodyText:hover {
    box-shadow: 5px 4px 8px 7px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: teal;
    color: white;
    border-radius: 8px;
    width: 100%; }

  hr.new1 {
    border: 1px solid black;
    width: 250px; }

.btn-cont {
    background-color: teal;
    padding: 8px;
    border-radius: 10px;
    color: white;
    width: 150px; }

.btn-cont:hover {
    background-color: rgb(202, 202, 218);
    box-shadow: 3px 3px 5px 4px rgba(0, 0, 0, 0.2);
    padding: 8px;
    border-radius: 10px;
    color: black;
    width: 150px; }

    footer {
        background-color: #363636 !important;
        color: #fff; }
        footer .icon {
          color: #fff;
          margin-left: 20px; }
      
      .footerlink {
        font-size: 16px;
        color: whitesmoke; }
      
      .footerlink:hover {
        opacity: 0.9;
        color: blue; }
      
      a {
        text-decoration: none;
        font-size: 18px;
        color: white; }

        a.cardy {
          text-decoration: none;
          color: black; }  
      
      button:hover, a:hover {
        opacity: 0.7; }
      
      hr.foot {
        border: 1px solid white;
        width: 100%; }
      
      hr.footy {
        border: 1px solid white;
        width: 100%; }

#backtotop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    }
      
      /* @media screen and (min-width: 1000px) {
        hr.foot {
          border: 1px solid white;
          width: 100px; } }
      
      @media screen and (max-width: 768px) {
        hr.footy {
          border: 1px solid white;
          width: 250px; } }
      
      @media screen and (min-width: 1000px) {
        hr.footy {
          border: 1px solid white;
          width: 250px; } } */
      